@import "tailwindcss";

@theme {
  --color-bg-gradient: linear-gradient(to bottom, #807ece, #8e7ece);
  --color-primary: #2d2a37;
  --color-primary-ce: #975dfa;
  --color-primary-sign: #462878;
  --color-primary-equal: #7f45e2;
}

body {
  background-image: var(--color-bg-gradient);
}

.cal-btn,
.cal-body {
  box-shadow:
    inset 2px 2px 0 #7d7c7e,
    inset -2px -2px 0px #1c1c1c;
}

.cal-btn {
  border: 4px solid #090909;
  box-shadow:
    inset 2px 2px 0 #7d7c7e,
    inset -2px -2px 0px #1c1c1c;
}

.cal-btn::before {
  content: "";
  border-radius: inherit;
  background-image: linear-gradient(145deg, #262626, #606060);
  z-index: -1;
  box-shadow:
    11px 11px 22px #141414,
    -11px -11px 22px #525252;
}
